<h3> Welcome to Blackjack</h3> 
<h4> Please enter your name </h4> 

<form action = '/submit_name' method = 'post'>
	<input type = 'text'/ name="user_name"/>
</br>
	<input type = "submit" class= "btn"/>
</form>

